<h1><%= @test.title %>:</h1>
<h1><%= @test.id %>:</h1>
<%= params %>

<table>

  <% @questions.each do |question| %>
    <tr>
      <td><%= question.body%></td>
      <td><%=  @test%></td>
      <td><%=  pp @question%></td>

      <td><%= button_to "Показать", question_path(question, @test), method: :get %></td>
      <td><%= button_to "Редактировать", edit_question_path(question, @test), method: :get %></td>
      <td><%= button_to "Удалить", question_path(question), method: :delete %></td>
    </tr>
  <% end %>
  <tr>
    <td><%= button_to "Создать вопрос", new_test_question_path(@test, @question), method: :get %></td>
  </tr>
  <tr>
    <td><%= button_to "Назад к списку тестов", tests_path, method: :get %></td>

  </tr>
</table>
