<h1>Редактирование вопроса</h1>

<p>
  <%= @answer.question.body %>
</p>

<%= form_with(model: [@question, @answer], url: answer_path(@answer), method: :patch) do |form| %>
  <%= form.text_field :body %>
  <%= form.text_field :correct %>
  <%= form.submit %>
<% end %>
